<div class="flex justify-center py-2">
  <div
    class="relative border border-gray-800 bg-white p-2 my-3 rounded-lg shadow-lg w-10/12 flex flex-col"
  >
    <fa-icon
      [icon]="backIcon"
      (click)="goBack()"
      class="absolute inline-block inset-y-0 top-3 left-3 md:left-6 lg:left-6 md:text-2xl lg:text-2xl text-xl text-gray-400 hover:text-gray-600"
    ></fa-icon>
    <h2 class="text-center text-2xl text-gray-700 font-bold select-none">
      Sign up as a Patient
    </h2>
    <p class="text-center text-sm my-2 text-gray-500 select-none">
      Fields marked with <span class="text-red-500 font-semibold">*</span> are
      required
    </p>
    <form
      [formGroup]="patientSignupForm"
      (ngSubmit)="onPatientSignupSubmit()"
      spellcheck="false"
    >
      <!-- This will contain the entire form -->
      <div class="flex flex-col md:flex-row lg:flex-row px-1">
        <!--
          First name,
          Middle name,
          Last name,
          Blood group
          DOB
        -->
        <div
          class="w-[100%] md:w-1/2 py-2 px-2 md:px-4 lg:px-6 mx-1 my-2 select-none"
        >
          <!-- First name -->
          <div class="my-1 md:my-2 lg:my-3 p-1 flex flex-col relative">
            <label for="firstName" class="text-gray-600 font-bold select-none"
              >First name
              <span class="text-red-500 font-semibold">*</span></label
            >
            <input
              type="text"
              id="firstName"
              name="firstName"
              placeholder="Your first name here"
              formControlName="firstName"
              class="w-full p-1 mb-1 border border-gray-300 rounded-md hover:border-gray-400 focus:outline-none focus:border-blue-500"
            />
            <div
              *ngIf="(firstName.touched || firstName.dirty) && (firstName.errors?.['required'])"
              class="absolute inset-0 left-2 top-14"
            >
              <p class="text-red-400 font-semibold text-xs pt-[.3em]">
                First name cannot be empty
              </p>
            </div>
          </div>

          <!-- Middle name -->
          <div class="my-1 md:my-2 lg:my-3 p-1 flex flex-col relative">
            <label for="firstName" class="text-gray-600 font-bold select-none"
              >Middle name</label
            >
            <input
              type="text"
              id="middleName"
              name="middleName"
              placeholder="Your middle name here"
              formControlName="middleName"
              class="w-full p-1 mb-1 border border-gray-300 rounded-md hover:border-gray-400 focus:outline-none focus:border-blue-500"
            />
          </div>

          <!-- Last name -->
          <div class="my-1 md:my-2 lg:my-3 p-1 flex flex-col relative">
            <label for="lastName" class="text-gray-600 font-bold select-none"
              >Last name
              <span class="text-red-500 font-semibold">*</span></label
            >
            <input
              type="text"
              id="lastName"
              name="lastName"
              placeholder="Your last name here"
              formControlName="lastName"
              class="w-full p-1 mb-1 border border-gray-300 rounded-md hover:border-gray-400 focus:outline-none focus:border-blue-500"
            />
            <div
              *ngIf="(lastName.touched || lastName.dirty) && (lastName.errors?.['required'])"
              class="absolute inset-0 left-2 top-14"
            >
              <p class="text-red-400 font-semibold text-xs pt-[.3em]">
                Last name cannot be empty
              </p>
            </div>
          </div>

          <!-- Blood group -->
          <div class="my-1 md:my-2 lg:my-3 p-1 flex flex-col relative">
            <label for="bloodGroup" class="text-gray-600 font-bold select-none"
              >Select your blood group
              <span class="text-red-500 font-semibold">*</span></label
            >
            <select
              name="bloodGroup"
              id="bloodGroup"
              formControlName="bloodGroup"
              class="block appearance-none mb-1 w-full bg-white border border-gray-300 hover:border-gray-400 p-1 rounded shadow leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300"
            >
              <option
                *ngFor="let bg of bloodGroups; let i = index"
                [value]="bg"
              >
                {{ bloodGroups[i] }}
              </option>
            </select>

            <div
              *ngIf="(bloodGroup.touched || bloodGroup.dirty) && (bloodGroup.errors?.['required'])"
              class="absolute inset-0 left-2 top-14"
            >
              <p class="text-red-400 font-semibold text-xs pt-[.3em]">
                Blood group name cannot be empty
              </p>
            </div>
          </div>

          <!-- DOB -->
          <div class="my-1 md:my-2 lg:my-3 p-1 flex flex-col relative">
            <label for="dob" class="text-gray-600 font-bold select-none"
              >Date of Birth
              <span class="text-red-500 font-semibold">*</span></label
            >
            <input
              type="date"
              id="dob"
              name="dob"
              formControlName="dob"
              class="w-full p-1 border border-gray-300 rounded-md hover:border-gray-400 focus:outline-none focus:border-blue-500"
            />
          </div>

          <!-- Phone no. -->
          <div class="my-1 md:my-2 lg:my-3 p-1 flex flex-col relative">
            <label for="phone" class="text-gray-600 font-bold select-none"
              >Phone no <span class="text-red-500 font-semibold">*</span></label
            >
            <input
              type="text"
              id="phone"
              name="phone"
              placeholder="Your phone number here"
              formControlName="phoneNo"
              class="w-full p-1 border border-gray-300 rounded-md hover:border-gray-400 focus:outline-none focus:border-blue-500"
            />
          </div>
        </div>

        <!--
          Email address,
          Password,
          Repeat password,
          Gender
         -->
        <div
          class="w-[100%] md:w-1/2 py-2 px-2 md:px-4 lg:px-6 mx-1 my-2 select-none"
        >
          <!-- Email address -->
          <div class="my-1 md:my-2 lg:my-3 p-1 flex flex-col relative">
            <label for="email" class="text-gray-600 font-bold select-none"
              >Email <span class="text-red-500 font-semibold">*</span></label
            >
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Your email address here"
              formControlName="email"
              class="w-full p-1 border border-gray-300 rounded-md hover:border-gray-400 focus:outline-none focus:border-blue-500"
            />
          </div>

          <!-- Password -->
          <div class="my-1 md:my-2 lg:my-3 p-1 flex flex-col relative">
            <label for="password" class="text-gray-600 font-bold select-none"
              >Password <span class="text-red-500 font-semibold">*</span></label
            >
            <input
              type="password"
              id="password"
              name="password"
              formControlName="password"
              class="w-full p-1 border border-gray-300 rounded-md hover:border-gray-400 focus:outline-none focus:border-blue-500"
            />
          </div>

          <!-- Repeat password -->
          <div class="my-1 md:my-2 lg:my-3 p-1 flex flex-col relative">
            <label for="r-password" class="text-gray-600 font-bold select-none"
              >Repeat password
              <span class="text-red-500 font-semibold">*</span></label
            >
            <input
              type="password"
              id="r-password"
              name="r-password"
              formControlName="repeatPassword"
              class="w-full p-1 border border-gray-300 rounded-md hover:border-gray-400 focus:outline-none focus:border-blue-500"
            />
          </div>

          <!-- Gender -->
          <div class="my-1 md:my-2 lg:my-3 p-1 flex flex-col relative">
            <p class="text-gray-600 font-bold select-none">
              Gender <span class="text-red-500 font-semibold">*</span>
            </p>
            <div class="flex flex-col">
              <div class="m-1">
                <input
                  type="radio"
                  id="male"
                  name="gender"
                  value="M"
                  formControlName="gender"
                  class="my-auto"
                />
                <label
                  for="male"
                  class="ml-2 my-auto text-gray-500 hover:text-gray-700"
                  >Male</label
                >
              </div>
              <div class="m-1">
                <input
                  type="radio"
                  id="female"
                  name="gender"
                  value="F"
                  formControlName="gender"
                  class="my-auto"
                />
                <label
                  for="female"
                  class="ml-2 my-auto text-gray-500 hover:text-gray-700"
                  >Female</label
                >
              </div>
              <div class="m-1">
                <input
                  type="radio"
                  id="others"
                  name="gender"
                  value="O"
                  formControlName="gender"
                  class="my-auto"
                />
                <label
                  for="others"
                  class="ml-2 my-auto text-gray-500 hover:text-gray-700"
                  >Others</label
                >
              </div>
              <div class="m-1">
                <input
                  type="radio"
                  id="na"
                  name="gender"
                  value="N/A"
                  formControlName="gender"
                  class="my-auto"
                />
                <label
                  for="na"
                  class="ml-2 my-auto text-gray-500 hover:text-gray-700"
                  >Prefer not to disclose</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Register button -->
      <div
        class="py-2 px-2 md:px-4 lg:px-6 mx-2 select-none flex justify-center"
      >
        <button
          type="submit"
          class="bg-blue-400 w-24 px-6 py-1 rounded text-gray-100 font-normal hover:bg-blue-500 hover:text-white"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
